.TodoItem {
      padding: 1rem;
      margin: 1rem;
      background: aliceblue;
      display: grid;
      grid-template-columns: minmax(0, 1fr) 2rem 2rem;
      grid-gap: 0.25rem;
      align-items: center;
      position: relative;
      box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1)
}

.TodoItem p {
      grid-row: 1/2;
      grid-column: 1/2;
      overflow-wrap: break-word;
      word-wrap: break-word;
}

.TodoItem button {
      width: 2rem;
      height: 2rem;
      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 0.25rem;
}

.Button___delete {
      background: red;
      background-image: url("./delete.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
}

.Button___delete:hover {
      background: grey;
      background-image: url("./delete.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
}

span {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      font-size: 12px;
      text-transform: capitalize;
      background: palegoldenrod;
      border: 1px solid grey;
      grid-row: 1/2;
      grid-column: 1/2;
      justify-self: end;
}
